* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    height: 130px;
    flex-shrink: 0;
    padding: 80px 200px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.pink {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
}


.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.nav-img {
    width: 80px;
    height: 40px;

}

nav>div {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 30px;
}

nav li {
    display: inline-flex;
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.header-button {
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
}

#font-chng {
    display: inline-flex;
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}


/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    /* margin-top: 150px; */
}

.banner-p-1 {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    width: 900px;
    height: 700px;
    flex-shrink: 0;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding-left: 200px;
    padding-top: 80px;



}

.banner-p-2 {
    padding-right: 200px;

}

.banner-title {
    
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.bt-1{
    color: #0B0223;
    font-size: 48px;
    /* font-weight: 600; */
}

.color-purple {
    margin-bottom: 0px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bnr-buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.btn-1 {
    border: #FFF;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.btn-2 {
    border: #FFF;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

/* main part 1 styles */

.main-p-title {
   
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 150px;
}

.main-part-1{
   
}
#play-bttn{
    position: relative;
    left: 150px;
    bottom: 220px;
    
}
.solved{
    display: grid;
}

.main-p-text {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

    /* 166.667% */
}

.change-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-part-imgs {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-right: 50px;

}

.img-txt-1 {
    color: #534C64;
    font-size: 20px;
    width: 342px;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.img-txt-2 {
    color: #534C64;
    font-size: 20px;
    width: 342px;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.img-txt-3 {
    color: #534C64;
    font-size: 20px;
    width: 244px;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.img-txt-4 {
    color: #534C64;
    font-size: 20px;
    width: 342px;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

/* main part 2 styles */
.main-part-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}


.mp2-title {
    text-align: right;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.mp2-down-txt {
    color: #534C64;
    text-align: right;
    width: 353px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.mp2-txt-part {
    padding-left: 300px;
    padding-top: 150px;
}

.mp2-img-part {
    display: grid;
    padding-right: 300px;
}

.relative {
    position: relative;
    bottom: 260px;
    right: 150px;
}

/* main Part 3 styles */

.main-part-3 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 427px;
    flex-shrink: 0;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.inner_section{
    display: flex;
    justify-content: center;
}


.AG {
    border-radius: 50px;
    border: white;
    background: #FFF;
    width: 243px;
    height: 80px;
    flex-shrink: 0;
}

.AG:hover {
    border-radius: 50px;

    border: #FF42A5 solid;
    color: #FF42A5;
    font-size: 15px;
    font-weight: 200;

}

/* footer section styles */
.footer-part {
    background: #0B0223;
    height: 636px;
    flex-shrink: 0;
}

.footer-part>div {
    padding-top: 30px;
}


.footer-title {

    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: center;

}

footer>div>ul {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

footer div li {
    list-style: none;

}

.footer-text {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}


.footer-icons a {
    background-color: transparent;
    border: none;
    padding: 20px;

}


.txt-style {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}

.text-style>li {
    list-style: none;
    gap: 40px;
}



/* responsible medis queries */
@media screen and (max-width: 600px) {
 
    
    nav{
     
     flex-direction: column;
     height: auto;
     width: auto;
     align-items: center;
     justify-content: center;
    } 
    nav>ul{
     flex-direction: column;
     
    }
    nav>div{
        flex-direction: column;
        
    }
    .nav-img{
        width: 60px;
        height: 30px;
    }
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        background: #FFF;
        
    }
    .main-part-imgs {
        flex-direction: column;
        justify-content: center;
        
    
    }.main-part-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    .mp2-title {
        text-align: center;
        color: #0B0223;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
    }
    .mp2-txt-part {
        padding-top: 150px;
    }
    .mp2-img-part {
       
        width: 100%;

    }
   
 }
